.cabecalho,
.footer {
    width: 100%;
    min-height: 10rem;
    background: linear-gradient(#13979e, #55d4cf);
    color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-family: "Archivo Black", sans-serif;
    font-weight: 200;
    font-style: normal;

}

.cabecalho img {
    filter: brightness(0) invert(1);
}

.menu a {
    text-decoration: dotted;
    color: #ffffff;
    font-weight: 900;
    border: 0.1rem solid #06eeff;
    padding: 0.1rem 0.5rem;
    box-shadow: 0.2rem 0.3rem 0.4rem #0a3fec;
    border-radius: 5px;
    filter: brightness(200%);
}

.menu a:hover {
    color: #fff;
    border: 2px solid #0a3fec;
    box-shadow: 2px 3px 4px #007c85;

}




header ul {
    display: flex;
    gap: 2rem;
}

@media (max-width: 770px) {
    .cabecalho {
        flex-direction: column;
        align-items: center
    }

    header {
        flex-direction: column;
        min-width: 100%;
        gap: 1rem;
    }

    .menu a {
        display: flex;
        width: 100%;
    }
}

@media (max-width: 590px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
    }

    header ul {
        flex-direction: column;
        width: 100%;
    }

    .menu a {
        display: block;
        width: 100%;
        font-size: 2rem;
        padding: 0 1rem;
        box-sizing: border-box;
    }
}